@font-face {
  font-family: "Barge";
  src: url("https://use.typekit.net/qmn3flk.css");
}

@font-face {
  font-family: "Karrik";
  src: url("../../assets/fonts/Karrik-Regular.woff");
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 50;
  top: 0;
  display: grid;
  background-color: black;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1fr 1fr;
}

.opaque {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 50;
  top: 0;
  display: none;
  pointer-events: none;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1fr 1fr;
}

.blank {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  & > p {
    color: white;
    font-family: "Karrik";
    padding: 5% 10%;
  }
}

.formDisplay {
  display: flex;
  flex-direction: column;
  width: 100vw;
  gap: 20px;
  opacity: 1;
  transition: opacity 3s;
  align-items: center;
  justify-content: center;
  & > .email {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: white;
    width: 80%;
    font-family: "Karrik";
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
  }
  & > .signUp {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: white;
    font-family: "Karrik";
    font-size: 18px;
    text-align: center;
  }
}

.fadeDisplay {
  display: flex;
  flex-direction: column;
  width: 100vw;
  gap: 20px;
  opacity: 0;
  transition: opacity 3s;
  align-items: center;
  justify-content: center;
  & > .email {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: white;
    width: 80%;
    font-family: "Karrik";
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
  }
  & > .signUp {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: white;
    font-family: "Karrik";
    font-size: 18px;
    text-align: center;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
  font-family: "Karrik";
  font-size: 18px;
  text-align: center;
}

.line {
  width: 70vw;
  height: 0.6px;
  background-color: white;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 5s;
  & > p {
    color: white;
    font-family: "Barge";
    font-size: 20vw;
    opacity: 0.9;
  }
}

.fadeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 5s;
  & > p {
    color: white;
    font-family: "Barge";
    font-size: 20vw;
    opacity: 0.9;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
